// Website color scheme
$primary-light: #191970;
$primary-dark: #2A2ABB;
$secondary-light: #495057;
$secondary-dark: #212529;
$rose: #e72c32;
$red-logo: #EC1C24;

// Grayscale color
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Screen size
$mobile-small: 400px;
$mobile-max: 600px;
$screen-small: 800px;
$screen-medium: 900px;
